<p id="notice"><%= notice %></p>

<div class="w3-panel w3-black">

<div class="w3-panel w3-red">quote</div>

<div class="w3-panel w3-black">


<p>
  <strong>Name:</strong>
  <%= @quote.name %>
</p>


<p>
  <strong>Content:</strong>
  <%= @quote.content %>
</p>


</div>

<div class="w3-panel w3-black">

<%= link_to 'Edit', edit_quote_path(@quote) ,class:"w3-button w3-red" %> |
<%= link_to 'Back', quotes_path , class:"w3-button w3-red" %>

</div></div>
