<%= form_for(q) do |f| %>
  <% if q.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(q.errors.count, "error") %> prohibited this q from being saved:</h2>

      <ul>
      <% q.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :one %>
    <%= f.text_field :one , class:"w3-input" %>
  </div>

  <div class="form-group">
    <%= f.label :two %>
    <%= f.text_field :two , class:"w3-input" %>
  </div>

  <div class="actions">
    <%= f.submit :create, class:"w3-button w3-red"%>
  </div>
<% end %>
